{% extends "orders/base_dash.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <script>
  function myText(tex){
    document.getElementById('text').innerHTML = tex.value;
  }
  function myTextColor(tex){
    document.getElementById('text').style.color = tex.value;
  }
  function myBgColor(tex){
    document.getElementById('element').style.backgroundColor = tex.value;
  }

  </script>
  <style>
    input{
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 2px 10px;
    }
  </style>
    <div class="container">
        <center><h2 class="py-3">Post an Ad</h2></center>
        <div class="row">

            <div class="col-lg-6">
                
                <div class="card p-3 ">
                <div class="mt-2">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                          <span>Upload Image/Video</span>
                          <p><input type="file" name="document" value="" style="border: 0px solid #ccc;"></p>
                        </div>
                        <center>OR</center>
                        <div>
                          <span>Link</span>
                          <p><input type="text" name="link" placeholder="Enter a Link"></p>
                        </div>
                        <center>OR</center>
                        <div>
                          <span>Text</span>
                          <p><input type="text" name="text" onkeyup="myText(this)" placeholder="Enter Some Text"></p>
                          <span>Text Color</span>
                          <p><input type="color" name="text_color" onchange="myTextColor(this)" value="#000000"></p>
                          <span>Bg Color</span>
                          <p><input type="color" name="bg_color" onchange="myBgColor(this)"></p>
                        </div>
                        <div>
                           <center>
                                     <button class="btn btn-outline-info" type="submit">Next</button>
                                </center>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <div class="col-lg-6 card text-center" style="padding: 0;" id=element>   
                <div style=" background: url({% static 'overlay.png' %});width: 100%;height: 100%;position: relative;overflow: scroll;">
                    <div style="position: absolute;top: 50%;left: 50%;height: 80%;width: 80%;margin: -40% 0 0 -40%;font-size: 3em;display: table;">
                        <div style="display: table-cell;vertical-align: middle;" id=text> 
                        </div> 
                    </div>
                </div>
            </div>
    </div>
    </div>
{% endblock content %}
